{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
{% include 'header.html' %}

<body>
    <section>
        <h2>회원가입</h2>
        <form method="POST" action="/api/v1/users/">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="username">
            <input type="text" id="name" name="name" placeholder="name">
            <input type="eamil" id="email" name="email" placeholder="email">
            <input type="password" id="password" name="password" placeholder="password">
            <input type="submit" value="회원가입">
        </form>
    </section>
</body>
{% include 'footer.html' %}

</html>